<#ftl encoding="utf-8">
<head>
    <title>Succés</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="pokeball.png">
</head>
<body xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <p>Pokémon amélioré !</p>
    </div>
</body>

</html>
