@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap');

.navbar-icon {
    background-image: url('pokeball.png');
    /* Ajoutez d'autres propriétés CSS pour dimensionner, positionner et styliser l'icône */
}
  

/* Style de la page d'accueil */
body {
    font-family: monospace;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #333;
    margin: 5em 5em 45em 5em;
}

.container {
    padding: 30px;
    background-color: #d9d9d9;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 255, 0.5);
}

h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:rgba(255, 0, 0, 0.669);
}

p {
    font-size: 1.3em;
    line-height: 1.5;
}

a {
    color: #ff0000;
}

form {
    font-size: 1.4em;
}

input {
    font-family: monospace;
    background-color:rgb(241, 185, 185);
    color: red;
    margin : 1em;
}

.btn {
    background-color: #ff0000;
    box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.669);
    color: white;
    font-weight: bold;
    padding: 30px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}

li {
    font-size: 1.2em;
}

.style1 {
    font-size: 1.2em;
}